<!-- wp:template-part {"slug":"header-home","area":"header"} /-->

<!-- wp:cover {"url":"https://burhanilinux.files.wordpress.com/2023/12/nordwood-themes-bjjskbtoy34-unsplash.jpg","id":170,"dimRatio":50,"contentPosition":"center center","style":{"color":[]}} -->
<div class="wp-block-cover"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><img class="wp-block-cover__image-background wp-image-170" alt="" src="https://burhanilinux.files.wordpress.com/2023/12/nordwood-themes-bjjskbtoy34-unsplash.jpg" data-object-fit="cover" /><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center"><strong>Burhani Linux Computers</strong></h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-background-color"><strong>We are dealers in all types of Desktop Computers and Laptops customised at your preferences.</strong></mark></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><strong>We are Hardware and Software Repairs and Computer Service Providers. </strong></p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":220,"width":"694px","height":"auto","sizeSlug":"large","linkDestination":"media","align":"center"} -->
<figure class="wp-block-image aligncenter size-large is-resized"><a href="https://burhanilinux.files.wordpress.com/2023/12/drawing-1.png"><img src="https://burhanilinux.files.wordpress.com/2023/12/drawing-1.png?w=1024" alt="" class="wp-image-220" style="width:694px;height:auto" /></a></figure>
<!-- /wp:image -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center","verticalAlignment":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textAlign":"center","className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-text-align-center wp-element-button" href="https://burhanilinux.wordpress.com/contact/" target="_blank" rel="noreferrer noopener">Get a Quote</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}},"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|60"}},"backgroundColor":"tertiary","textColor":"foreground","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-foreground-color has-tertiary-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"4.5rem","lineHeight":"1.1"}}} -->
<h2 class="wp-block-heading has-text-align-center" style="font-size:4.5rem;line-height:1.1">Discover a world of possibilities</h2>
<!-- /wp:heading -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center">What is Burhani Linux?</h1>
<!-- /wp:heading -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" />
<!-- /wp:separator -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-primary-color">Burhani Linux is an operating system based on Ubuntu for desktop and laptop computers. It is designed to work 'out of the box' and comes fully equipped with the apps most people need.</mark></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group alignwide"><!-- wp:image {"id":282,"width":"200px","height":"undefinedpx","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://burhanilinux.files.wordpress.com/2023/12/ubuntu-logo.png?w=1024" alt="" class="wp-image-282" style="width:200px;height:undefinedpx" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":283,"width":"200px","height":"undefinedpx","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://burhanilinux.files.wordpress.com/2023/12/gnome-logo.png?w=1024" alt="" class="wp-image-283" style="width:200px;height:undefinedpx" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":285,"width":"200px","height":"undefinedpx","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full is-resized"><img src="https://burhanilinux.files.wordpress.com/2023/12/linux_logo_icon_171222.png" alt="" class="wp-image-285" style="width:200px;height:undefinedpx" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":284,"width":"200px","height":"undefinedpx","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://burhanilinux.files.wordpress.com/2023/12/linux-foundation-og-image.webp?w=1024" alt="" class="wp-image-284" style="width:200px;height:undefinedpx" /></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","right":"var:preset|spacing|50","bottom":"var:preset|spacing|70","left":"var:preset|spacing|50"}}}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center">Give it a try. You'll love it!</h1>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:media-text {"mediaId":210,"mediaLink":"https://burhanilinux.wordpress.com/image1/","mediaType":"image"} -->
<div class="wp-block-media-text is-stacked-on-mobile"><figure class="wp-block-media-text__media"><img src="https://burhanilinux.files.wordpress.com/2023/12/image1.png" alt="" class="wp-image-210 size-full" /></figure><div class="wp-block-media-text__content"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center">Apps you need</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-custom-cover-overlay-color">Burhani Linux comes with everything you need to run your organisation, school, home or enterprise. All the essential applications, like an office suite, browsers, email and media apps come pre-installed and thousands more games and applications are available in the Ubuntu Software Centre.</mark></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaPosition":"right","mediaId":114,"mediaLink":"https://burhanilinux.wordpress.com/screenshot-from-2023-12-14-20-10-25/","mediaType":"image"} -->
<div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile"><div class="wp-block-media-text__content"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center"><strong>Stunning Visuals</strong></h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-custom-cover-overlay-color">Burhani Linux gets the most from your screen, with high definition, touchscreen support, fractional scaling and touchpad gestures.</mark></p>
<!-- /wp:paragraph --></div><figure class="wp-block-media-text__media"><img src="https://burhanilinux.files.wordpress.com/2023/12/screenshot-from-2023-12-14-20-10-25.png?w=1024" alt="" class="wp-image-114 size-full" /></figure></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaId":182,"mediaLink":"https://burhanilinux.wordpress.com/a8e96807-desktop-xps13-small-2/","mediaType":"image"} -->
<div class="wp-block-media-text is-stacked-on-mobile"><figure class="wp-block-media-text__media"><img src="https://burhanilinux.files.wordpress.com/2023/12/a8e96807-desktop-xps13-small.webp?w=1024" alt="" class="wp-image-182 size-full" /></figure><div class="wp-block-media-text__content"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center"><strong>Linux on the largest range of&nbsp;hardware</strong></h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-custom-cover-overlay-color">Linux isn’t just for the desktop, it is used in data centres around the world powering every kind of server imaginable and is by far, the most popular operating system in the cloud.</mark></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text -->

<!-- wp:cover {"url":"https://burhanilinux.files.wordpress.com/2023/11/426982-violet-gradient-e1702473715485.jpg","id":4,"dimRatio":80,"overlayColor":"custom-cover-overlay","isUserOverlayColor":true,"minHeight":441,"minHeightUnit":"px","align":"wide","className":"is-style-bottom-wave"} -->
<div class="wp-block-cover alignwide is-style-bottom-wave" style="min-height:441px"><span aria-hidden="true" class="wp-block-cover__background has-custom-cover-overlay-background-color has-background-dim-80 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-4" alt="" src="https://burhanilinux.files.wordpress.com/2023/11/426982-violet-gradient-e1702473715485.jpg" data-object-fit="cover" /><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"padding":{"top":"10rem","right":"0","bottom":"10rem","left":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:10rem;padding-right:0;padding-bottom:10rem;padding-left:0"><!-- wp:heading {"textAlign":"center","level":1,"align":"wide"} -->
<h1 class="wp-block-heading alignwide has-text-align-center">Learn More</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-background-color">Want to be first in line to learn tips and tricks for supercharging your mockups with Design? There are many helpful resources in our blog.</mark></p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://burhanilinux.wordpress.com/2023/11/14/new-site-in-making/" target="_blank" rel="noreferrer noopener">Read Our Blog</a></div>
<!-- /wp:button -->

<!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://launchpad.net/~burhanilinux" target="_blank" rel="noreferrer noopener">Launchpad</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link wp-element-button" href="https://github.com/burhanilinux" target="_blank" rel="noreferrer noopener">GitHub</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","right":"var:preset|spacing|50","bottom":"var:preset|spacing|70","left":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center">Contact us</h1>
<!-- /wp:heading -->

<!-- wp:social-links -->
<ul class="wp-block-social-links"><!-- wp:social-link {"url":"https://www.instagram.com/juzer.dana/","service":"instagram"} /-->

<!-- wp:social-link {"url":"juzerdana@gmail.com","service":"mail"} /-->

<!-- wp:social-link {"url":"https://twitter.com/juzerdana","service":"x"} /-->

<!-- wp:social-link {"url":"https://www.youtube.com/channel/UCvtYbARP8qSlEFrm2CqtmhA","service":"youtube"} /--></ul>
<!-- /wp:social-links -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">We'd love to hear from you! Drop us a line below and we'll do our best to get back to you within one business day.</p>
<!-- /wp:paragraph -->

<!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}},"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"primary","textColor":"background","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background-color has-primary-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} -->
<h2 class="wp-block-heading has-text-align-center has-background-color has-text-color has-link-color">Let's make something together</h2>
<!-- /wp:heading -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://burhanilinux.wordpress.com/contact/" target="_blank" rel="noreferrer noopener">  Contact  </a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->